<!DOCTYPE html>
<html>
<head>

    <title>Medicinal Plant Identification</title>

</head>

<body>

<h1>Medicinal Plant Identification using AI</h1>

<form action="/predict" method="post" enctype="multipart/form-data">

    <input type="file" name="image" required>

    <br><br>

    <button type="submit">Predict</button>

</form>

<br><br>


{% if info %}

<h2>Plant Name: {{ info.name }}</h2>

<p><b>Scientific Name:</b> {{ info.scientific }}</p>

<p><b>Description:</b> {{ info.description }}</p>

<p><b>Uses:</b> {{ info.uses }}</p>

<p><b>Benefits:</b> {{ info.benefits }}</p>

<p><b>How to Use:</b> {{ info.how }}</p>

{% endif %}


</body>
</html>